.k-manager-layout {
    width: 100%;
    height: 100%;
    overflow: hidden;

  .k-header {
    display: flex;
    align-items: center;
    overflow: hidden;

    .k-logo {
      height: 100%;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .k-nav-bar {
      height: 100%;
      flex: 1 1 auto;
      display: flex;
      justify-content: space-between;
    }
  }
}